
body {
    max-width: 950px;
    margin: 0 auto;
    font-family: $fontfamily;
    color: $contentColor;
    background: $contentBackground;
}

img {
    max-width: 100%;
}

header {
    overflow: hidden;
    .logo img {
    float: left;
    max-width: 39%;
    }   
}


nav { 
    margin-top: 149px;
    float: right; 
    border-bottom: 1px solid $colorline;
    border-top: 1px solid $colorline;
    a {
        float: left; 
        color: $colornav;
        text-transform: uppercase;
        font-size: 15px;
        margin: 20px 69px;
		text-decoration: none;
    }

}

.toolbar { 
    margin-top: 20px;
    float: right;
    input {
        background: $contentBackground;
        color: $colornav;
        border: 1px solid $colornav;
        padding: 10px 50px 10px 20px;
    }      
}

.post-list {
    clear: both; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    article {
        max-width: 46%;
        margin-top: 21px;
        padding: 12px;
        background: $postBackground;
        div {
            margin: 9px 13px;
        }
        .post-description {
            color: $postDescription;
            font-size: 12px;
            margin: 0px;
            padding: 0px 5px 9px 6px;
            border-bottom: 1px solid $colorline;
        }
        h3 {
            text-transform: uppercase;
            font-size: 17px;
            margin: 8px 0px 0px 0px;
            color: $colorTitle;
        }
        p {
            margin: 0px 1px;
            line-height: 24px;
            font-size: 15px;
            font-weight:lighter;
            &+p {
                margin-top: 20px;
            }
        }
    }
}


   
.about {
    margin: 113px 0px 63px 16px;
    font-size: 13px;
    h1 {
    color: $colornav;
    text-align: right;
    text-transform: uppercase;
    margin: 0px;
    }
    p {
    color: #6a8ba7;
    margin: 5px 22px 21px 18px;
    font-size: 17px;
    }
}

.contactbar {
    
    .contact {
        background: $contentBackground;
        width: 99%;
        margin: 8px 0px;
        padding: 15px 0px 15px 16px;
    }
    .message {
        background: $contentBackground;
        width: 99%;
        margin: 12px 0px;
        padding: 15px 0px 60px 16px;
    }
    textarea,input  {
        font-family: $fontfamily;
        font-size:13px;
        border-color: #a7a7a7;
    }
}

.contact-form {
    color: $colornav;
    text-align: right;
    h1 {
        margin: 0px;
        font-size: 20px;
    }
    h4 {
        margin: 0px;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px 0px 20px 0px;
    }
}

.btn {
    float: right;
    border: 1px solid $colornav;
    background: $colornav;
    color: white;
    padding: 10px 77px;
    margin-top: 5px;
    &:hover {
        background: $colorTitle;
    }

}

footer {
    clear: both;
    color: #6a8ba7;
    font-size: 13px;
    margin: 50px 0px;
}



